@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body,
#root {
    height: 100%
} */

#root {
    background: url('/public/BG.png');
    background-repeat: no-repeat;
    background-position: 160% 50%;
}